In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
engine = create_engine("sqlite+pysqlite3:///db.sqlite")

In [8]:
df = pd.read_sql_query("SELECT * from test_products_data", con=engine)

In [9]:
df

   pipeline_id  offer_id                                         attributes
0            1         1                                      {"attr_1": 1}
1            1         2                         {"attr_1": 1, "attr_2": 2}
2            1         3            {"attr_1": 1, "attr_2": 2, "attr_3": 3}
3            1         4  {"attr_1": 1, "attr_2": 2, "attr_3": 3, "attr_...
4            1         5  {"attr_1": 1, "attr_2": 2, "attr_3": 3, "attr_...
5            2         1                                      {"attr_1": 1}
6            2         2                         {"attr_1": 1, "attr_2": 2}
7            2         3            {"attr_1": 1, "attr_2": 2, "attr_3": 3}
8            2         4  {"attr_1": 1, "attr_2": 2, "attr_3": 3, "attr_...
9            2         5  {"attr_1": 1, "attr_2": 2, "attr_3": 3, "attr_...